.masklayer{
	position:absolute;
	left:0;
	top:0;
	background:#ccc;
	opacity:0.3;
	filter:alpha(opacity=30);
	display:none;
}
.masklayer-msg{
	font-size: 12px;
	position:absolute;
	cursor1:wait;
	left:100px;
	top:50px;
	width:auto;
	height:16px;
	padding:12px 5px 10px 30px;
	background:#fff url('../images/qwjs/pagination_loading.gif') no-repeat scroll 5px 10px;
	border:2px solid #6593CF;
	color:#222;
	display:none;
}